build/
tasm/
*.id*
*.nam
*.til
*.o
/resources/*.SP
/solve/
TESTOUT.TXT
/tc/
xcuserdata/
resources/*.CFG
resources/PLAYER.*
resources/SAVEGAME.*
resources/HALLFAME.*

# Linux stuff
linux/OpenSupaplex-linux
linux/opensupaplex*

# PS Vita stuff
vita/debugnetip.txt
vita/resources/

# Nintendo Switch stuff
*.nro
*.elf
*.nacp

# PSP stuff
psp/*.PBP
psp/*.prx

# WASM stuff
wasm/opensupaplex.data
wasm/opensupaplex.html
wasm/opensupaplex.js
wasm/opensupaplex.wasm
