build/
tasm/
*.id*
*.nam
*.til
*.o
*.d
/resources/*.SP
/solve/
TESTOUT.TXT
/tc/
xcuserdata/
resources/*.CFG
resources/PLAYER.*
resources/SAVEGAME.*
resources/HALLFAME.*

# Linux stuff
linux/OpenSupaplex-linux
linux/opensupaplex*

# Windows stuff
windows/OpenSupaplex*

# PS Vita stuff
vita/debugnetip.txt
vita/resources/

# Nintendo Switch stuff
*.nro
*.elf
*.nacp

# PSP stuff
psp/*.PBP
psp/*.prx

# PS3 stuff
ps3/*.self
ps3/*.elf

# WASM stuff
wasm/opensupaplex.data
wasm/opensupaplex.html
wasm/opensupaplex.js
wasm/opensupaplex.wasm
