name: Build OpenSupaplex Release
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      prerelease:
        required: true
        default: false
        type: boolean
      release_notes:
        required: false
        type: string

jobs:
  build-linux:
    name: Linux
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./linux/ci-prepare.sh
          ./linux/ci-build.sh
        shell: bash
  build-macos:
    name: macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./macos/ci-prepare.sh
          ./macos/ci-build.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: macos-build
          path: macos/OpenSupaplex-macOS.zip
  build-vita:
    name: PS Vita
    runs-on: ubuntu-22.04
    container: sergiou87/vita-docker-open-supaplex:7.2
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./vita/ci-build-vita.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: vita-build
          path: vita/build/OpenSupaplex.vpk
  build-switch:
    name: Nintendo Switch
    runs-on: ubuntu-22.04
    container: sergiou87/switch-docker-open-supaplex:7.1
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./switch/ci-build-switch.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: switch-build
          path: switch/OpenSupaplex-switch.zip
  build-psp:
    name: PSP
    runs-on: ubuntu-22.04
    container: sergiou87/pspdev-docker-open-supaplex:7.1
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./psp/ci-install-dependencies.sh
          ./psp/ci-build.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: psp-build
          path: psp/OpenSupaplex-psp.zip
  build-ps3:
    name: PS3
    runs-on: ubuntu-22.04
    container: sergiou87/ps3dev-docker-open-supaplex:7.2
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./ps3/ci-build.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: ps3-build
          path: ps3/OpenSupaplex.pkg
  build-wii:
    name: Wii
    runs-on: ubuntu-22.04
    container: sergiou87/wii-docker-open-supaplex:7.2
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./wii/ci-build.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: wii-build
          path: wii/OpenSupaplex-wii.zip
  build-wiiu:
    name: Wii U
    runs-on: ubuntu-22.04
    container: sergiou87/wiiu-docker-open-supaplex:7.2
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./wiiu/ci-build.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: wiiu-build
          path: wiiu/OpenSupaplex-wiiu.zip
  build-nds:
    name: Nintendo DS
    runs-on: ubuntu-22.04
    container: sergiou87/nds-docker-open-supaplex:7.2
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./nds/ci-build-nds.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: nds-build
          path: nds/OpenSupaplex.nds
  build-3ds:
    name: Nintendo 3DS
    runs-on: ubuntu-22.04
    container: sergiou87/3ds-docker-open-supaplex:7.1
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./3ds/ci-build-3ds.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: 3ds-build
          path: 3ds/OpenSupaplex-3ds.zip
  build-riscos:
    name: RISC OS
    runs-on: ubuntu-22.04
    container: sergiou87/riscos-docker-open-supaplex:7.2
    steps:
      - uses: actions/checkout@v1
      - name: Build OpenSupaplex
        run: |
          ./riscos/ci-build.sh
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: riscos-build
          path: riscos/OpenSupaplex-riscos.zip
  build-windows-x86_64:
    name: Windows x86_64
    runs-on: windows-latest
    steps:
      - uses: msys2/setup-msys2@v2
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v1
      - name: Prepare build environment
        run: |
          msys2 -c './windows/ci-prepare.sh x86_64'
      - name: Build OpenSupaplex
        run: |
          cd windows
          msys2 -c './ci-build.sh x86_64'
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: windows-x86_64-build
          path: windows/OpenSupaplex-windows-x86_64.zip
  create-release:
    name: Create release
    needs:
      [
        build-vita,
        build-macos,
        build-switch,
        build-nds,
        build-3ds,
        build-riscos,
        build-windows-x86_64,
        build-psp,
        build-ps3,
        build-wii,
        build-wiiu,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Checking out...
        uses: actions/checkout@v1
      - name: Read release notes
        id: read_release_notes
        run: |
          CONTENTS=`cat changelog/${{ inputs.version }}.txt`
          CONTENTS="${CONTENTS//'%'/'%25'}"
          CONTENTS="${CONTENTS//$'\n'/'%0A'}"
          CONTENTS="${CONTENTS//$'\r'/'%0D'}"
          echo "::set-output name=release_notes::${CONTENTS}"
        shell: bash
        if: ${{ !inputs.release_notes }}
      - name: Download macOS Build Asset
        uses: actions/download-artifact@v1
        with:
          name: macos-build
      - name: Download PS Vita Build Asset
        uses: actions/download-artifact@v1
        with:
          name: vita-build
      - name: Download Nintendo Switch Build Asset
        uses: actions/download-artifact@v1
        with:
          name: switch-build
      - name: Download PSP Build Asset
        uses: actions/download-artifact@v1
        with:
          name: psp-build
      - name: Download PS3 Build Asset
        uses: actions/download-artifact@v1
        with:
          name: ps3-build
      - name: Download Wii Build Asset
        uses: actions/download-artifact@v1
        with:
          name: wii-build
      - name: Download Wii U Build Asset
        uses: actions/download-artifact@v1
        with:
          name: wiiu-build
      - name: Download Nintendo DS Build Asset
        uses: actions/download-artifact@v1
        with:
          name: nds-build
      - name: Download Nintendo 3DS Build Asset
        uses: actions/download-artifact@v1
        with:
          name: 3ds-build
      - name: Download RISC OS Build Asset
        uses: actions/download-artifact@v1
        with:
          name: riscos-build
      - name: Download Windows x86_64 Build Asset
        uses: actions/download-artifact@v1
        with:
          name: windows-x86_64-build
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ inputs.version }}
          release_name: OpenSupaplex ${{ inputs.version }}
          body: ${{ inputs.release_notes || steps.read_release_notes.outputs.release_notes }}
          draft: false
          prerelease: ${{ inputs.prerelease }}
      - name: Upload macOS Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: macos-build/OpenSupaplex-macOS.zip
          asset_name: OpenSupaplex-macOS-${{ inputs.version }}.zip
          asset_content_type: application/binary
      - name: Upload PS Vita Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: vita-build/OpenSupaplex.vpk
          asset_name: OpenSupaplex-vita-${{ inputs.version }}.vpk
          asset_content_type: application/binary
      - name: Upload Nintendo Switch Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: switch-build/OpenSupaplex-switch.zip
          asset_name: OpenSupaplex-switch-${{ inputs.version }}.zip
          asset_content_type: application/zip
      - name: Upload PSP Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: psp-build/OpenSupaplex-psp.zip
          asset_name: OpenSupaplex-psp-${{ inputs.version }}.zip
          asset_content_type: application/zip
      - name: Upload PS3 Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ps3-build/OpenSupaplex.pkg
          asset_name: OpenSupaplex-ps3-${{ inputs.version }}.pkg
          asset_content_type: application/binary
      - name: Upload Wii Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: wii-build/OpenSupaplex-wii.zip
          asset_name: OpenSupaplex-wii-${{ inputs.version }}.zip
          asset_content_type: application/zip
      - name: Upload Wii U Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: wiiu-build/OpenSupaplex-wiiu.zip
          asset_name: OpenSupaplex-wiiu-${{ inputs.version }}.zip
          asset_content_type: application/zip
      - name: Upload Nintendo DS Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: nds-build/OpenSupaplex.nds
          asset_name: OpenSupaplex-nds-${{ inputs.version }}.nds
          asset_content_type: application/binary
      - name: Upload Nintendo 3DS Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: 3ds-build/OpenSupaplex-3ds.zip
          asset_name: OpenSupaplex-3ds-${{ inputs.version }}.zip
          asset_content_type: application/zip
      - name: Upload RISC OS Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: riscos-build/OpenSupaplex-riscos.zip
          asset_name: OpenSupaplex-riscos-${{ inputs.version }}.zip
          asset_content_type: application/zip
      - name: Upload Windows x86_64 Build Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: windows-x86_64-build/OpenSupaplex-windows-x86_64.zip
          asset_name: OpenSupaplex-windows-x86_64-${{ inputs.version }}.zip
          asset_content_type: application/zip
